extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/not-found.pug
include ../../mixins/alert.pug

block main
    +alert-success(100000)
    +alert-error(100000)
    .review-order
        .container.my-3
            if(orders.length>0)
                .row
                    .col-12
                        each order in orders
                            if(order.cancel.status=="initial")
                                .alert.alert-danger
                                    h4(class="alert-heading") Trạng thái đơn hàng
                                    p Đơn hàng của bạn <b>đang chờ xác nhận hủy</b>!
                                    p.mt-2 Bạn có thể xem thêm các sản phẩm khác của chúng tôi <a href="/products">tại đây!</a>
                            else if(order.cancel.status=="approved")
                                .alert.alert-danger
                                    h4(class="alert-heading") Trạng thái đơn hàng
                                    p Đơn hàng của bạn <b>đã được hủy</b>!
                                    p.mt-2 Bạn có thể xem thêm các sản phẩm khác của chúng tôi <a href="/products">tại đây!</a>
                            else if(order.cancel.status=="rejected")
                                .alert.alert-danger
                                    h4(class="alert-heading") Trạng thái đơn hàng
                                    p Đơn hàng của bạn <b>không đủ điều kiện hủy</b>!
                                    p.mt-2 Bạn có thể xem thêm các sản phẩm khác của chúng tôi <a href="/products">tại đây!</a>
                            else
                                .alert.alert-success
                                    h4(class="alert-heading") Trạng thái đơn hàng
                                    if(order.status=="initial")
                                        p Đơn hàng của bạn đang <b>chờ phê duyệt</b>!
                                        p.mt-2 Sau khi phê duyệt thành công, chúng tôi sẽ thông báo và giao hàng cho bạn sớm nhất có thể!
                                    else 
                                        p Đơn hàng của bạn đã <b>được xác nhận</b>!
                                        if(order.statusDelivery=="processing")
                                            p.mt-2 Đơn hàng của bạn đang được chúng tôi xử lý, chúng tôi sẽ giao hàng cho bạn sớm nhất có thể!
                                        if(order.statusDelivery=="shipping")
                                            p.mt-2 Đơn hàng của bạn đang được vận chuyển (Thời gian dự kiến: 3-5 ngày), chúng tôi sẽ giao hàng cho bạn sớm nhất có thể!
                                        if(order.statusDelivery=="delivered")
                                            p.mt-2 Đơn hàng của bạn đã được giao! Hãy cho chúng tôi biết đánh giá của bạn về sản phẩm!
                                    hr
                                    p(class="mb-0") Nếu có bất kỳ câu hỏi nào hãy liên hệ với chúng tôi qua email: <b>#{settingGeneral.email}</b> hoặc số điện thoại: <b>#{settingGeneral.phone}</b>
                            .order-info.mb-3(style="background:#fff;padding:24px")
                                h4(class="mb-2") Thông tin đơn hàng
                                if(order.status=="initial" || order.statusDelivery=="processing")
                                    if(order.cancel.status=="initial")
                                        a.btn.btn-danger Chờ xác nhận hủy
                                    else if(order.cancel.status=="approved")
                                        a.btn.btn-secondary Đã hủy thành công
                                    else if(order.cancel.status=="rejected")
                                        a.btn.btn-secondary Không đủ điều kiện hủy
                                        p Đơn hàng không đủ điều kiện hủy. Vui lòng đọc điều kiện hủy đơn hàng tại đây: ...
                                    else 
                                        a(href=`/user/my-orders/cancel/${order.id}`).btn.btn-danger Cancel
                                else 
                                    a.btn.btn-secondary Không đủ điều kiện hủy
                                    p Đơn hàng không đủ điều kiện hủy. Vui lòng đọc điều kiện hủy đơn hàng tại đây: ...
                                    
                                    //- if(order.cancel==false)
                                    //-     button.btn.btn-danger Cancel
                                table(class="table table-bordered")
                                    thead
                                        tr
                                            th STT
                                            th Ảnh
                                            th Tên
                                            th Màu sắc
                                            th Giá
                                            th Số lượng
                                            th Tổng tiền
                                    tbody
                                        if(order.products.length > 0)
                                            each item, index in order.products
                                                tr
                                                    td #{index + 1}
                                                    td
                                                        img(
                                                            src=item.thumbnail
                                                            alt=item.title
                                                            width="80px"
                                                        )
                                                    td #{item.title}
                                                    td #{item.color}
                                                    td #{item.priceNew}$
                                                    td #{item.quantity}
                                                    td #{item.totalPrice}$

                                if(order.coupon!="")
                                    h4(class="text-right") Giảm giá từ mã: -#{order.discount}$
                                if(order.products.length > 0)
                                    h3(class="text-right") Tổng đơn hàng: #{order.totalPrice}$
            else 
                +page-not-found("Hiện không tìm thấy đơn hàng nào","Tiếp tục mua sắm")