header.header
    .container  
        .row-header.row.align-item-center
            div(class="col-2")
                .inner-logo 
                    a(href="/")
                        img(src="/images/logo.svg" alt="Logo" class="logo")
            .col-10
                .navbar
                    form(action="/search" method="GET" id="form-search" class="header-form-search" style="width:350px")
                        .input-group 
                            .input-group-prepend(style="border:1px solid #fff") 
                                div(class="btn-icon-search") 
                                    img(src="/images/header/VectorSearch.svg" alt="VectorSearch" class="VectorSearch")
                            input(
                                type="text",
                                placeholder="Bạn cần tìm gì?",
                                name="keyword",
                                class="form-control header-form-control"
                                value= keyword
                                
                            )
                            .input-group-append 
                                button(type="submit" class="btn-search") Tìm kiếm
                    .d-flex.justify-content-end.align-items-center(style="gap:20px")
                        div(class="navbar-item")
                            a(href="/" class="navbar-link") 
                                span.box-icon
                                    svg.bi.bi-headset(xmlns="http://www.w3.org/2000/svg", width="20", height="22", fill="#fff", viewBox="0 0 16 16")
                                        path(d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5" fill="#fff")
                                span.box-text
                                    span.txtnw Hotline
                                    span.txtbl
                                        span.txt-overflow
                                            span #{settingGeneral.phone}
                        div(class="navbar-item")
                            a(href="/" class="navbar-link") 
                                span.box-icon
                                    svg.bi.bi-geo-alt-fill(xmlns="http://www.w3.org/2000/svg", width="20", height="22", fill="#fff", viewBox="0 0 16 16")
                                        path(d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6")
                                span.box-text
                                    span.txtnw Hệ thống
                                    span.txtbl
                                        span.txt-overflow
                                            span showroom
                        div(class="navbar-item")
                            a(href="/checkout/review" class="navbar-link") 
                                span.box-icon.d-flex.justify-content-center.align-items-center(style="margin-top:2px")
                                    svg(viewBox="0 0 18 24", fill="none", xmlns="http://www.w3.org/2000/svg" style="height:22px")
                                        path(d="M13.9637 2.95195H10.7919C10.373 1.79337 9.27584 0.954399 7.97918 0.954399C6.68252 0.954399 5.58535 1.79337 5.16643 2.95195H1.99461C0.897441 2.95195 -0.000244141 3.85085 -0.000244141 4.9495L0.0462926 21.0481C0.0462926 22.1467 0.943978 23.0456 2.04115 23.0456H8.13543C7.54533 22.4721 7.32914 22.1792 6.98295 21.4322H1.67845L1.63191 4.58457H3.98947V5.39127C3.98947 6.48992 4.88715 7.38882 5.98432 7.38882H9.97404C11.0712 7.38882 11.9689 6.48992 11.9689 5.39127V4.58457H14.2811V10.4389C14.9893 10.5388 15.3402 10.7486 15.9586 11.0382V4.9495C15.9586 3.85085 15.0609 2.95195 13.9637 2.95195ZM7.97918 5.39127C7.34445 5.39127 6.52838 4.98792 6.52838 3.95073C6.52838 3.37451 6.93641 2.56781 7.97918 2.56781C8.52777 2.56781 9.38465 2.98544 9.38465 3.95073C9.38465 4.91601 8.65794 5.39127 7.97918 5.39127ZM13.0129 13.0579C10.26 13.0579 8.02572 15.2951 8.02572 18.0517C8.02572 20.8084 10.26 23.0456 13.0129 23.0456C15.7658 23.0456 18 20.8084 18 18.0517C18 15.2951 15.7658 13.0579 13.0129 13.0579ZM14.2995 20.0493L12.6538 18.4013C12.5607 18.3085 12.5071 18.1832 12.5042 18.0517V15.5648C12.5042 15.2851 12.7236 15.0654 13.0029 15.0654C13.2822 15.0654 13.5016 15.2851 13.5016 15.5648V17.852L14.9977 19.3501C15.0443 19.3959 15.0814 19.4504 15.1069 19.5106C15.1323 19.5708 15.1456 19.6354 15.1459 19.7007C15.1462 19.7661 15.1336 19.8308 15.1088 19.8913C15.084 19.9517 15.0474 20.0066 15.0013 20.0528C14.9551 20.099 14.9003 20.1356 14.84 20.1605C14.7796 20.1853 14.7149 20.198 14.6497 20.1976C14.5844 20.1973 14.5199 20.184 14.4598 20.1586C14.3997 20.1331 14.3452 20.096 14.2995 20.0493Z", fill="white", )
                                span.box-text
                                    span.txtnw Tra cứu
                                    span.txtbl
                                        span.txt-overflow
                                            span đơn hàng
                        div(class="inner-row-top")
                            a.d-flex.align-items-center(href="/cart" class="desc navbar-link" id="cart")
                                span(style="position:relative;width:36px;height:36px").box-icon
                                    svg(viewBox="0 0 20 20", fill="none", xmlns="http://www.w3.org/2000/svg" style="width:18px" id="cart")
                                        path(d="M4.22111 3L3.84216 1H1M4.22111 3H19L15.2105 12.0455H5.73689M4.22111 3L5.73689 12.0455M5.73689 12.0455L3.56458 13.293C2.96774 13.923 3.5309 14.9091 4.375 14.9091H9.625H12.25L15.2105 15M15.2105 15C14.708 15 14.2261 15.2107 13.8708 15.5858C13.5154 15.9609 13.3158 16.4696 13.3158 17C13.3158 17.5304 13.5154 18.0391 13.8708 18.4142C14.2261 18.7893 14.708 19 15.2105 19C15.7131 19 16.195 18.7893 16.5503 18.4142C16.9056 18.0391 17.1053 17.5304 17.1053 17C17.1053 16.4696 16.9056 15.9609 16.5503 15.5858C16.195 15.2107 15.7131 15 15.2105 15ZM7.63162 17C7.63162 17.5304 7.432 18.0391 7.07667 18.4142C6.72134 18.7893 6.2394 19 5.73689 19C5.23438 19 4.75245 18.7893 4.39711 18.4142C4.04178 18.0391 3.84216 17.5304 3.84216 17C3.84216 16.4696 4.04178 15.9609 4.39711 15.5858C4.75245 15.2107 5.23438 15 5.73689 15C6.2394 15 6.72134 15.2107 7.07667 15.5858C7.432 15.9609 7.63162 16.4696 7.63162 17Z", stroke="white", stroke-width="2",stroke-linecap="round", stroke-linejoin="round")
                                    span(style="display: inline-block;vertical-align: top;background: #FDD835;border: 2px solid #fff;color: #111111;font-size: 9px;font-weight: 600;text-align: center;position: absolute;left: 19px;top: 2px;padding: 0;width: 16px;height: 16px;line-height: 13px;border-radius: 50%;").count-holder
                                        span(style="font-weight:700").count #{miniCart ? miniCart.products.length : 0}
                                //- span.desc ()
                                span.box-text
                                    span.txtnw Giỏ
                                    span.txtbl
                                        span.txt-overflow
                                            span hàng
                        if(infoUser)
                            div(class="inner-row-top d-flex align-items-center account")
                                //- button(class="desc"  style="color:white;padding:0;border:0;background-color:transparent") Đăng nhập
                                svg(width="22", height="22", viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg" class="svg-account")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M16.364 8.72692C16.364 9.88423 15.9043 10.9941 15.0859 11.8125C14.2676 12.6308 13.1577 13.0906 12.0004 13.0906C10.843 13.0906 9.73314 12.6308 8.9148 11.8125C8.09646 10.9941 7.63672 9.88423 7.63672 8.72692C7.63672 7.56961 8.09646 6.4597 8.9148 5.64136C9.73314 4.82302 10.843 4.36328 12.0004 4.36328C13.1577 4.36328 14.2676 4.82302 15.0859 5.64136C15.9043 6.4597 16.364 7.56961 16.364 8.72692ZM14.1822 8.72692C14.1822 9.30557 13.9523 9.86053 13.5431 10.2697C13.134 10.6789 12.579 10.9087 12.0004 10.9087C11.4217 10.9087 10.8667 10.6789 10.4576 10.2697C10.0484 9.86053 9.81854 9.30557 9.81854 8.72692C9.81854 8.14826 10.0484 7.59331 10.4576 7.18414C10.8667 6.77497 11.4217 6.5451 12.0004 6.5451C12.579 6.5451 13.134 6.77497 13.5431 7.18414C13.9523 7.59331 14.1822 8.14826 14.1822 8.72692Z", fill="white")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M12 0C5.37273 0 0 5.37273 0 12C0 18.6273 5.37273 24 12 24C18.6273 24 24 18.6273 24 12C24 5.37273 18.6273 0 12 0ZM2.18182 12C2.18182 14.28 2.95964 16.3789 4.26327 18.0458C5.1788 16.8435 6.35989 15.8692 7.71429 15.1989C9.06869 14.5286 10.5597 14.1805 12.0709 14.1818C13.5625 14.1804 15.0348 14.5195 16.3756 15.1732C17.7163 15.827 18.8901 16.7781 19.8076 17.9542C20.7529 16.7145 21.3893 15.2675 21.6642 13.733C21.9392 12.1985 21.8448 10.6206 21.3889 9.1298C20.933 7.63902 20.1286 6.27823 19.0423 5.16004C17.9561 4.04185 16.6192 3.19839 15.1422 2.69946C13.6653 2.20054 12.0908 2.06048 10.5489 2.29088C9.00711 2.52128 7.54232 3.11552 6.27575 4.02442C5.00918 4.93333 3.97725 6.13077 3.26534 7.51767C2.55343 8.90457 2.18202 10.4411 2.18182 12ZM12 21.8182C9.74613 21.8216 7.56029 21.0462 5.81236 19.6233C6.51592 18.6161 7.45237 17.7937 8.54203 17.2262C9.63169 16.6587 10.8423 16.3628 12.0709 16.3636C13.2842 16.3627 14.4802 16.6512 15.5596 17.2052C16.6389 17.7592 17.5706 18.5628 18.2771 19.5491C16.5156 21.0182 14.2937 21.8214 12 21.8182Z", fill="white")
                                div(class="desc" style="padding:0;border:0") Tài khoản
                                span.box-triangle
                                    svg(viewBox="0 0 20 9", role="presentation")
                                        path(d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z", fill="#ffffff")

                                .action-user 
                                    a(href="/user/info" class="link") 
                                        p.desc-action Thông tin tài khoản 
                                    a(href="/user/my-coupons"  class="link") 
                                        p.desc-action Mã giảm giá của tôi
                                    a(href="/checkout/review"  class="link") 
                                        p.desc-action Đơn hàng của tôi
                                    a(href="/user/logout" class="link") 
                                        p.desc-action Đăng xuất
                        else       
                            a(href="/user/login" class="inner-row-top d-flex align-items-center account" style="gap:10px;padding:8px;border-radius:4px;border:0;")
                                //- button(class="desc"  style="color:white;padding:0;border:0;background-color:transparent") Đăng nhập
                                svg(width="22", height="22", viewBox="0 0 24 24", xmlns="http://www.w3.org/2000/svg" )
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M16.364 8.72692C16.364 9.88423 15.9043 10.9941 15.0859 11.8125C14.2676 12.6308 13.1577 13.0906 12.0004 13.0906C10.843 13.0906 9.73314 12.6308 8.9148 11.8125C8.09646 10.9941 7.63672 9.88423 7.63672 8.72692C7.63672 7.56961 8.09646 6.4597 8.9148 5.64136C9.73314 4.82302 10.843 4.36328 12.0004 4.36328C13.1577 4.36328 14.2676 4.82302 15.0859 5.64136C15.9043 6.4597 16.364 7.56961 16.364 8.72692ZM14.1822 8.72692C14.1822 9.30557 13.9523 9.86053 13.5431 10.2697C13.134 10.6789 12.579 10.9087 12.0004 10.9087C11.4217 10.9087 10.8667 10.6789 10.4576 10.2697C10.0484 9.86053 9.81854 9.30557 9.81854 8.72692C9.81854 8.14826 10.0484 7.59331 10.4576 7.18414C10.8667 6.77497 11.4217 6.5451 12.0004 6.5451C12.579 6.5451 13.134 6.77497 13.5431 7.18414C13.9523 7.59331 14.1822 8.14826 14.1822 8.72692Z", fill="white")
                                    path(fill-rule="evenodd", clip-rule="evenodd", d="M12 0C5.37273 0 0 5.37273 0 12C0 18.6273 5.37273 24 12 24C18.6273 24 24 18.6273 24 12C24 5.37273 18.6273 0 12 0ZM2.18182 12C2.18182 14.28 2.95964 16.3789 4.26327 18.0458C5.1788 16.8435 6.35989 15.8692 7.71429 15.1989C9.06869 14.5286 10.5597 14.1805 12.0709 14.1818C13.5625 14.1804 15.0348 14.5195 16.3756 15.1732C17.7163 15.827 18.8901 16.7781 19.8076 17.9542C20.7529 16.7145 21.3893 15.2675 21.6642 13.733C21.9392 12.1985 21.8448 10.6206 21.3889 9.1298C20.933 7.63902 20.1286 6.27823 19.0423 5.16004C17.9561 4.04185 16.6192 3.19839 15.1422 2.69946C13.6653 2.20054 12.0908 2.06048 10.5489 2.29088C9.00711 2.52128 7.54232 3.11552 6.27575 4.02442C5.00918 4.93333 3.97725 6.13077 3.26534 7.51767C2.55343 8.90457 2.18202 10.4411 2.18182 12ZM12 21.8182C9.74613 21.8216 7.56029 21.0462 5.81236 19.6233C6.51592 18.6161 7.45237 17.7937 8.54203 17.2262C9.63169 16.6587 10.8423 16.3628 12.0709 16.3636C13.2842 16.3627 14.4802 16.6512 15.5596 17.2052C16.6389 17.7592 17.5706 18.5628 18.2771 19.5491C16.5156 21.0182 14.2937 21.8214 12 21.8182Z", fill="white")
                                div(class="desc" style="padding:0;border:0") Đăng nhập
                            