extends ../../../layouts/default.pug
include ../../../mixins/alert.pug
include ../../../mixins/select-tree.pug

block main 
    +alert-success("10000")
    +alert-error("10000")
    if(roleUser.permissions.includes("products_edit"))
        h1(class="title mb-3") Chỉnh sửa thông số sản phẩm
        form(
            action=`${prefixAdmin}/products/specifications/edit/${product.id}/${specProduct.id}?_method=PATCH`
            id="form-create-product-category"
            method="POST"
        )
            div(class="form-group")
                label(for="nameSpec") Tên thông số
                input(
                    type="text"
                    class="form-control"
                    id="nameSpec"
                    name="nameSpec"
                    value=specProduct.nameSpec
                    required
                )
            div(class="form-group")
                label(for="valueDefault") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="valueDefault"
                    name="valueDefault"
                    value=specProduct.valueDefault
                )
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cập nhật
        script(src="/admin/JS/product.js") 

