extends ../../../layouts/default.pug
include ../../../mixins/alert.pug
include ../../../mixins/select-tree.pug

block main 
    +alert-success("10000")
    +alert-error("10000")
    if(roleUser.permissions.includes("products_edit"))
        h1(class="title mb-4") Thông số sản phẩm
        h3(class="mb-4") Bảng thông số nổi bật
        form(
            action=`${prefixAdmin}/products/specifications/features/create/${product.id}`
            method="POST"
        )
            div(class="form-group")
                label(for="nameFeaturesSpec") Tên thông số
                input(
                    type="text"
                    class="form-control"
                    id="nameFeaturesSpec"
                    name="nameFeaturesSpec"
                    required
                )
            div(class="form-group")
                label(for="valueDefault") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="valueDefault"
                    name="valueDefault"
                )
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo mới
        table(
            class="table table-bordered table-specifications"
        )
            thead
                tr
                    th STT
                    th Tên thông số
                    th Mô tả ngắn
                    th Action
            tbody
                each item,index in product.features_spec
                    tr 
                        td(style="background-color: #f7f7f7 !important;border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;width: 20px;") #{index+1}
                        td(style="border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;width: 350px;") #{item.nameFeaturesSpec}
                        td(style="border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;") #{item.valueDefault}
                        td(style="border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;") 
                            a(href=`${prefixAdmin}/products/specifications/features/edit/${product.id}/${item.id}`) Edit
                            a(
                                class="ml-3" 
                                id="delete-feature-spec"
                                button-delete-specification 
                                data=product.id 
                                data-id=item.id 
                                style="cursor:pointer"
                            ) Delete
        h3(class="mb-4") Bảng thông số chi tiết
        form(
            action=`${prefixAdmin}/products/specifications/create/${product.id}`
            method="POST"
        )
            div(class="form-group")
                label(for="nameSpec") Tên thông số
                input(
                    type="text"
                    class="form-control"
                    id="nameSpec"
                    name="nameSpec"
                    required
                )
            div(class="form-group")
                label(for="valueDefault") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="valueDefault"
                    name="valueDefault"
                )
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tạo mới
        table(
            class="table table-bordered table-specifications"
        )
            thead
                tr
                    th STT
                    th Tên thông số
                    th Mô tả
                    th Action
            tbody
                each item,index in product.specifications
                    tr 
                        td(style="background-color: #f7f7f7 !important;border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;width: 20px;") #{index+1}
                        td(style="border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;width: 350px;") #{item.nameSpec}
                        td(style="border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;") #{item.valueDefault}
                        td(style="border-color: #eeeeee;border-style: solid;border-width: 1px;box-sizing: border-box;padding: 8px;vertical-align: top;width:200px") 
                            a(href=`${prefixAdmin}/products/specifications/edit/${product.id}/${item.id}`) Edit
                            a(
                                class="ml-3" 
                                id="delete-spec"
                                button-delete-specification 
                                data=product.id 
                                data-id=item.id 
                                style="cursor:pointer"
                            ) Delete
        form(action=""
            method="POST"
            id="form-delete-spec"
            path=`${prefixAdmin}/products/specifications/delete`
        ) 
        form(action=""
            method="POST"
            id="form-delete-feature-spec"
            path=`${prefixAdmin}/products/specifications/features/delete`
        ) 
        script(src="/admin/JS/product.js") 

