doctype html
html(lang="vn")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} 
        //CSS Bootstrap
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        link(rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
        //CSS local
        link(rel="stylesheet", href="/css/style.css")
        //Google Fonts
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        //Font Roboto Slab
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet")
        //Font Manrope
        link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    body(style="background-color:#ececec") 
        .coupon-detail(style="transition: margin-top .3s cubic-bezier(.4,0,.2,1);")
            .inner-coupon-detail(style="background: #fff;box-sizing: border-box;display: flex;flex-direction: column;height: 43.75rem;margin: 1.875rem auto;padding: 2.5rem .625rem .625rem;position: relative;width: 23.4375rem;")
                svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 375 124" style="height: 7.75rem;left: 0;position: absolute;top: 0;" fill="#be1529" )
                    defs
                        mask#mask(x="-158.6", y="-18", width="533.6", height="148.15", maskUnits="userSpaceOnUse")
                            rect(width="375", height="124" fill="#f36700")
                        lineargradient#linear-gradient(x1="-118.19", y1="460.81", x2="-117.77", y2="460.74", gradientTransform="matrix(-384.46, 0, 0, 148.15, -45258.88, -68202.4)", gradientUnits="userSpaceOnUse")
                            stop(offset="0", stop-color="#ffa200", stop-opacity="0.48")
                            stop(offset="1", stop-color="#ffb600", stop-opacity="0.26")
                    rect(width="375", height="124")
                    g
                        path(d="M225.87-4.94Q120.52,212.82-96.37,79.56T225.87-4.94Z" fill="#e30019")
                .header-coupon
                    .coupon-item(style="width:354px")
                        .inner-coupon-item
                            svg.coupon-bg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", viewBox="0 0 431.20001220703125 132")
                                g(fill="none", fill-rule="evenodd")
                                    g
                                        g
                                            g
                                                g
                                                    g
                                                        g(transform="translate(-3160 -2828) translate(3118 80) translate(42 2487) translate(0 140) translate(0 85) translate(0 36)")
                                                            path(fill="#fff", d="M423.20001220703125 0c4.418 0 8 3.582 8 8v116c0 4.418-3.582 8-8 8H140.5c0-4.419-3.582-8-8-8s-8 3.581-8 8H8c-4.418 0-8-3.582-8-8V8c0-4.418 3.582-8 8-8h116.5c0 4.418 3.582 8 8 8s8-3.582 8-8H392z")
                                                            g(stroke="#eee", stroke-dasharray="2 4", stroke-linecap="square", mask="url(#14s2l20tnb)")
                                                                path(d="M0.5 0L0.5 114", transform="translate(132 11)")
                            .coupon-content
                                .coupon-icon(style="width: 108.44px;min-width: 108.44px;")
                                    div(style="position: relative;width: 90px;height: 90px;")
                                        a.link-coupon(href=`/coupons/detail/${coupon.codeCoupon}`)
                                            .wrap-img
                                                img.image-coupon(src=coupon.thumbnail, opacity="1")
                                .coupon-detail
                                    .wrap-row-top
                                        if(coupon.discountType=="percent")
                                            h4.main-desc Giảm #{coupon.discountValue}% 
                                            p.sub-desc Cho đơn hàng từ #{coupon.minOrderValue}$
                                        else 
                                            h4.main-desc Giảm #{coupon.discountValue}$
                                            p.sub-desc Cho đơn hàng từ #{coupon.minOrderValue}$
                                    .wrap-row-bottom
                                        p.desc-date Còn lại: #{coupon.usageLimit} coupons
                .body-coupon(tabindex="0" style="flex: 1;margin-top: 1.25rem;overflow-y: auto;padding: 0 .625rem;")
                    .item-detail(style="margin-bottom:1.5rem")
                        h4(style="color: rgba(0, 0, 0, .87);font-family: Roboto, sans-serif;font-size: .875rem;font-weight: 700;line-height: 1rem;margin-bottom: .5rem;margin-top: 0;text-align: left;") Mã giảm giá
                        .desc(style="color: rgba(0, 0, 0, .65);font-family: Roboto, sans-serif;font-size: .875rem;line-height: 1rem;word-wrap: break-word") #{coupon.codeCoupon}

                    .item-detail(style="margin-bottom:1.5rem")
                        h4(style="color: rgba(0, 0, 0, .87);font-family: Roboto, sans-serif;font-size: .875rem;font-weight: 700;line-height: 1rem;margin-bottom: .5rem;margin-top: 0;text-align: left;") Hạn sử dụng mã
                        .desc(style="color: rgba(0, 0, 0, .65);font-family: Roboto, sans-serif;font-size: .875rem;line-height: 1rem;word-wrap: break-word") 
                            div(class="createdAt" data-time=coupon.expirationDate) <span>23:59</span>

                    .item-detail(style="margin-bottom:1.5rem")
                        h4(style="color: rgba(0, 0, 0, .87);font-family: Roboto, sans-serif;font-size: .875rem;font-weight: 700;line-height: 1rem;margin-bottom: .5rem;margin-top: 0;text-align: left;") Đơn hàng tối thiểu
                        .desc(style="color: rgba(0, 0, 0, .65);font-family: Roboto, sans-serif;font-size: .875rem;line-height: 1rem;word-wrap: break-word") #{coupon.minOrderValue}$

                    .item-detail(style="margin-bottom:1.5rem")
                        h4(style="color: rgba(0, 0, 0, .87);font-family: Roboto, sans-serif;font-size: .875rem;font-weight: 700;line-height: 1rem;margin-bottom: .5rem;margin-top: 0;text-align: left;") Thanh Toán
                        .desc(style="color: rgba(0, 0, 0, .65);font-family: Roboto, sans-serif;font-size: .875rem;line-height: 1rem;word-wrap: break-word") Tất cả các hình thức thanh toán

                    .item-detail(style="margin-bottom:1.5rem")
                        div.description-coupon !{coupon.description}
                .footer-coupon(tabindex="0", role="button" style="display:flex;align-items:center;justify-content:center")
                    button.btn.btn-solid-primary.btn-back(type="button" style="width:100%;margin-top:20px;background:#e30019;color:#fff;box-shadow: 0 2px 4px rgba(0, 0, 0, .24);") Đồng ý

        //Script bootstrap 
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js") 
        //Script local
        script(src="/JS/cart.js") 
        script(src="/JS/script.js") 
