extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(100000)
    +alert-error(100000)
    .forgot-password(style="padding:16px 0;background:#ececec")
        .container.my-5
            .inner-content(style="background:#fff")
                .row-left(style="margin:0 auto;width:45%;padding:100px 24px")
                    h1.title(style="text-align:center") Quên mật khẩu
                    p.desc(style="text-align:center;margin-bottom:75px") Nhập email của bạn bên dưới và chúng tôi sẽ gửi cho bạn hướng dẫn về cách đặt lại mật khẩu của bạn.
                    form(
                        action="/user/forgot-password"
                        method="POST"
                    )
                        div(class="form-group" style="margin-top:25px")
                            input(
                                type="email"
                                class="input-email"
                                id="email"
                                name="email"
                                placeholder="Email"
                                required
                                autocomplete="off"
                            )
                        div(class="form-group")
                            button(
                                type="submit"
                                class="btn btn-primary btn-block btn-send"
                                style="background:#e30019;border-color:#e30019"
                            ) Gửi mã OTP
                    //- svg.bi.bi-chevron-left(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                    //-     path(fill-rule="evenodd", d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                    //- i.bi.bi-caret-left-fill.justify-content-center.align-items-center
                    //- a.back-home(href="/") Quay lại trang chủ     
//- block main
//-     .container.my-5
//-         .row.justify-content-center
//-             .col-8
//-                 h1(class="text-center") Nhập Email xác thực
//-                 form(
//-                     action="/user/password/otp"
//-                     method="POST"
//-                     path=""
//-                     form-submit
//-                 )
//-                     div(class="form-group")
//-                         .row-top 
//-                             label(for="email") Email
//-                         .row-bottom.d-flex.justify-content-center.align-items-center(Style="gap:10px")
//-                             input(
//-                                 type="email"
//-                                 class="form-control"
//-                                 id="email"
//-                                 name="email"
//-                                 value=email
//-                                 required
//-                             )
//-                             button(class="btn btn-secondary" style="min-width:100px" get-otp) Gui ma
//-                 div(class="form-group")
//-                     label(for="otp") Mã OTP
//-                     input(
//-                         type="text"
//-                         class="form-control"
//-                         id="otp"
//-                         name="otp"
//-                         required
//-                     )
//-                 div(class="form-group")
//-                     button(
//-                         type="submit"
//-                         class="btn btn-primary btn-block"
//-                     ) Xác nhận
//-     form(
//-         action=""
//-         method="POST"
//-         path="/user/forgot-password/"
//-         form-get-otp
//-     )
