extends ../../layouts/default.pug

block main
    .forgot-password(style="padding:16px 0;background:#ececec")
        .container.my-5
            .inner-content(style="background:#fff")
                .row-left(style="margin:0 auto;width:45%;padding:100px 24px")
                    h1.title(style="text-align:center") Đổi mật khẩu
                    p.desc(style="text-align:center;margin-bottom:75px") Để bảo mật hãy thay đổi mật khẩu của bạn!
                    form(
                        action="/user/password/reset"
                        method="POST"
                        form-reset
                    )
                        div(class="form-group" style="margin-top:25px")
                            input(
                                type="password"
                                class="input-email"
                                id="password"
                                name="password"
                                placeholder="Nhập mật khẩu mới"
                                required
                            )
                        div(class="form-group")
                            input(
                                type="password"
                                class="input-email"
                                id="confirmPassword"
                                name="confirmPassword"
                                placeholder="Nhập lại mật khẩu"
                                required
                            )
                        div(class="form-group")
                            button(
                                type="submit"
                                class="btn btn-primary btn-block btn-send"
                                style="margin-top:26px;background:#e30019;border-color:#e30019"
                                action-reset
                            ) Đổi mật khẩu 
    script(src="/JS/reset-password.js") 