extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/layout-product.pug
block main 
    .products
        .container.my-3 
            if(products.length>0)
                .section-product(style="padding:24px 0 14px 0")
                    .section-heading
                        .box-top
                            .box-header
                                h1.title(style="font-weight: 600;font-size: 24px;text-transform: uppercase;margin-bottom: 12px;text-align: center;") Tìm kiếm
                                p.desc(style="font-size: 14px;margin-bottom: 24px;text-align: center;") Tìm kiếm theo <b>#{keyword}</b>
                    .section-content   
                        .list-item.d-flex(style="flex-wrap:wrap;padding:8px 4px 0 4px")
                            each product in products
                                .item
                                    .item-box
                                        .item-image
                                            .proloop-label--top
                                            a.aspect-ratio(href=`/products/detail/${product.slug}`, aria-label="Nguồn" )
                                                picture.d-flex.justify-content-between.align-items-center
                                                    img(src=product.thumbnail, alt=product.slug class="item-img" style="width:100%;")
                                        .item-detail
                                            h3(style="font-size:14px")
                                                a(href=`/products/detail/${product.slug}` ) #{product.title}
                                            .proloop-technical
                                                each tech in product.features_spec
                                                    //- .proloop-technical--line
                                                    span(style="background: #f2f4f7;border: none;color: #667085;border: 1px solid #e0e0e0;border-radius: 2px;color: #333;display: inline-block;font-size: 12px;line-height: 12px;margin-right: 5px;padding: 4px 5px;white-space: nowrap;") #{tech.nameFeaturesSpec} #{tech.valueDefault}
                                                //- .proloop-technical--line
                                                //-     svg(width="10", height="10", viewBox="0 0 10 10", fill="none", xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;margin-top:1px")
                                                //-         path(d="M3 3.5H3.875C3.98333 3.5 4.073 3.4645 4.144 3.3935C4.21467 3.32283 4.25 3.23333 4.25 3.125C4.25 3.01667 4.21467 2.92717 4.144 2.8565C4.073 2.7855 3.98333 2.75 3.875 2.75H2.75C2.60833 2.75 2.4895 2.79783 2.3935 2.8935C2.29783 2.9895 2.25 3.10833 2.25 3.25V4.375C2.25 4.48333 2.2855 4.57283 2.3565 4.6435C2.42717 4.7145 2.51667 4.75 2.625 4.75C2.73333 4.75 2.82283 4.7145 2.8935 4.6435C2.9645 4.57283 3 4.48333 3 4.375V3.5ZM6.75 5.25H5.875C5.76667 5.25 5.67717 5.28533 5.6065 5.356C5.5355 5.427 5.5 5.51667 5.5 5.625C5.5 5.73333 5.5355 5.82283 5.6065 5.8935C5.67717 5.9645 5.76667 6 5.875 6H7C7.14167 6 7.26033 5.952 7.356 5.856C7.452 5.76033 7.5 5.64167 7.5 5.5V4.375C7.5 4.26667 7.46467 4.177 7.394 4.106C7.323 4.03533 7.23333 4 7.125 4C7.01667 4 6.927 4.03533 6.856 4.106C6.78533 4.177 6.75 4.26667 6.75 4.375V5.25ZM3.5 9.5C3.35833 9.5 3.23967 9.452 3.144 9.356C3.048 9.26033 3 9.14167 3 9V8.5H1C0.725 8.5 0.489667 8.40217 0.294 8.2065C0.098 8.0105 0 7.775 0 7.5V1.5C0 1.225 0.098 0.9895 0.294 0.7935C0.489667 0.597833 0.725 0.5 1 0.5H9C9.275 0.5 9.5105 0.597833 9.7065 0.7935C9.90217 0.9895 10 1.225 10 1.5V7.5C10 7.775 9.90217 8.0105 9.7065 8.2065C9.5105 8.40217 9.275 8.5 9 8.5H7V9C7 9.14167 6.95217 9.26033 6.8565 9.356C6.7605 9.452 6.64167 9.5 6.5 9.5H3.5ZM1.5 7H8.5V2H1.5V7Z", fill="#6D6E72")

                                                //-     span 27 inch
                                                //- .proloop-technical--line
                                                //-     svg(width="10", height="10", viewBox="0 0 10 10", fill="none", xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;margin-top:1px")
                                                //-         g(clip-path="url(#clip0_8337_18915)")
                                                //-             path(d="M5 0.833313V4.37498", stroke="#6D6E72", stroke-width="0.833333", stroke-linecap="round", stroke-linejoin="round")
                                                //-             path(d="M4.99992 0.833313C2.69867 0.833313 0.833252 2.69873 0.833252 4.99998C0.833252 7.30123 2.69867 9.16665 4.99992 9.16665C7.30117 9.16665 9.16659 7.30123 9.16659 4.99998C9.16659 4.03623 8.8395 3.14894 8.29013 2.4431", stroke="#6D6E72", stroke-width="0.833333", stroke-linecap="round")
                                                //-             path(d="M4.99992 2.70831C3.73429 2.70831 2.70825 3.73435 2.70825 4.99998C2.70825 6.2656 3.73429 7.29165 4.99992 7.29165C6.26554 7.29165 7.29159 6.2656 7.29159 4.99998C7.29159 4.46998 7.11159 3.98185 6.8095 3.59373", stroke="#6D6E72", stroke-width="0.833333", stroke-linecap="round")
                                                //-             path(d="M5 5.625C5.34518 5.625 5.625 5.34518 5.625 5C5.625 4.65482 5.34518 4.375 5 4.375C4.65482 4.375 4.375 4.65482 4.375 5C4.375 5.34518 4.65482 5.625 5 5.625Z", stroke="#6D6E72", stroke-width="0.833333")
                                                //-         defs
                                                //-             clippath(id="clip0_8337_18915")
                                                //-                 rect(width="10", height="10", fill="white")
                                                //-     span 100 Hz
                                                //- .proloop-technical--line
                                                //-     svg(width="10", height="10", viewBox="0 0 10 10", fill="none", xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;margin-top:1px")
                                                //-         path(d="M6.99159 3.00835C7.05075 3.06669 7.08325 3.14627 7.08325 3.22919V4.27085C7.08325 4.35373 7.05033 4.43322 6.99172 4.49182C6.93312 4.55043 6.85363 4.58335 6.77075 4.58335C6.68787 4.58335 6.60839 4.55043 6.54978 4.49182C6.49118 4.43322 6.45825 4.35373 6.45825 4.27085V3.98335L5.74159 4.70002C5.71274 4.72985 5.67825 4.75364 5.64012 4.77C5.60198 4.78636 5.56097 4.79496 5.51948 4.7953C5.47799 4.79565 5.43684 4.78772 5.39844 4.77199C5.36004 4.75626 5.32516 4.73304 5.29584 4.70368C5.26651 4.67433 5.24332 4.63942 5.22763 4.60101C5.21193 4.5626 5.20404 4.52145 5.20442 4.47995C5.2048 4.43846 5.21344 4.39746 5.22984 4.35934C5.24624 4.32122 5.27006 4.28675 5.29992 4.25794L6.01658 3.54169H5.72909C5.64621 3.54169 5.56672 3.50876 5.50811 3.45016C5.44951 3.39155 5.41659 3.31207 5.41659 3.22919C5.41659 3.14631 5.44951 3.06682 5.50811 3.00822C5.56672 2.94961 5.64621 2.91669 5.72909 2.91669H6.77075C6.8536 2.91676 6.93304 2.94973 6.99159 3.00835ZM2.91659 6.77085C2.91659 6.85373 2.94951 6.93322 3.00811 6.99182C3.06672 7.05043 3.14621 7.08335 3.22909 7.08335H4.27117C4.35405 7.08335 4.43353 7.05043 4.49214 6.99182C4.55074 6.93322 4.58367 6.85373 4.58367 6.77085C4.58367 6.68797 4.55074 6.60849 4.49214 6.54988C4.43353 6.49128 4.35405 6.45835 4.27117 6.45835H3.98367L4.70034 5.74169C4.75723 5.68272 4.78869 5.60377 4.78794 5.52183C4.78719 5.4399 4.75429 5.36153 4.69632 5.30362C4.63836 5.24571 4.55996 5.21288 4.47802 5.2122C4.39609 5.21153 4.31716 5.24307 4.25825 5.30002L3.54159 6.01585V5.72835C3.54159 5.64547 3.50866 5.56599 3.45006 5.50738C3.39145 5.44878 3.31197 5.41585 3.22909 5.41585C3.14621 5.41585 3.06672 5.44878 3.00811 5.50738C2.94951 5.56599 2.91659 5.64547 2.91659 5.72835V6.77002V6.77085ZM0.833252 2.81252C0.833252 2.50863 0.953973 2.21718 1.16886 2.00229C1.38374 1.78741 1.67519 1.66669 1.97909 1.66669H8.02075C8.32465 1.66669 8.61609 1.78741 8.83098 2.00229C9.04586 2.21718 9.16659 2.50863 9.16659 2.81252V7.18752C9.16659 7.33799 9.13695 7.48699 9.07936 7.62601C9.02178 7.76503 8.93738 7.89135 8.83098 7.99775C8.72458 8.10415 8.59826 8.18855 8.45924 8.24613C8.32022 8.30372 8.17122 8.33335 8.02075 8.33335H1.97909C1.82861 8.33335 1.67961 8.30372 1.54059 8.24613C1.40157 8.18855 1.27526 8.10415 1.16886 7.99775C1.06246 7.89135 0.978057 7.76503 0.920473 7.62601C0.86289 7.48699 0.833252 7.33799 0.833252 7.18752V2.81252ZM1.97909 2.29169C1.69159 2.29169 1.45825 2.52502 1.45825 2.81252V7.18752C1.45825 7.47502 1.69159 7.70835 1.97909 7.70835H8.02075C8.30825 7.70835 8.54159 7.47502 8.54159 7.18752V2.81252C8.54159 2.52502 8.30825 2.29169 8.02075 2.29169H1.97909Z", fill="#6D6E72")
                                                //-     span 2K (2560 x 1440)                                               
                                                //- .proloop-technical--line
                                                //-     svg(width="10", height="10", viewBox="0 0 10 10", fill="none", xmlns="http://www.w3.org/2000/svg" style="margin-right:5px;margin-top:1px")
                                                //-         g(clip-path="url(#clip0_8337_18911)")
                                                //-             path(d="M8.95165 2.96877L5.19249 0.885434C5.13072 0.851404 5.06134 0.833557 4.99082 0.833557C4.9203 0.833557 4.85092 0.851404 4.78915 0.885434L1.04832 2.9521C0.983334 2.98809 0.92915 3.04079 0.891379 3.10475C0.853608 3.16872 0.833624 3.24162 0.833497 3.3159C0.833369 3.39018 0.853103 3.46315 0.890654 3.52724C0.928205 3.59134 0.982208 3.64423 1.04707 3.68043L4.80624 5.78043C4.86812 5.81521 4.9379 5.83351 5.00889 5.83358C5.07988 5.83365 5.14969 5.8155 5.21165 5.78085L8.95249 3.69752C9.01747 3.66138 9.0716 3.60851 9.10926 3.54439C9.14691 3.48028 9.16673 3.40725 9.16664 3.3329C9.16656 3.25854 9.14658 3.18556 9.10877 3.12153C9.07097 3.0575 9.01672 3.00476 8.95165 2.96877Z", fill="#6D6E72")
                                                //-             path(d="M5.00011 6.6067L1.45219 4.63586L1.04761 5.3642L4.79761 7.44753C4.85949 7.4819 4.92911 7.49993 4.9999 7.49993C5.07069 7.49993 5.14031 7.4819 5.20219 7.44753L8.95219 5.3642L8.54761 4.63586L5.00011 6.6067Z", fill="#6D6E72")
                                                //-             path(d="M5.00011 8.27332L1.45219 6.30249L1.04761 7.03082L4.79761 9.11416C4.85949 9.14852 4.92911 9.16656 4.9999 9.16656C5.07069 9.16656 5.14031 9.14852 5.20219 9.11416L8.95219 7.03082L8.54761 6.30249L5.00011 8.27332Z", fill="#6D6E72")
                                                //-         defs
                                                //-             clippath(id="clip0_8337_18911")
                                                //-                 rect(width="10", height="10", fill="white")
                                                //-     span IPS    
                                            .proloop-price
                                                .proloop-price-old 
                                                    span #{product.price}$
                                                .proloop-price-new
                                                    span #{product.priceNew}$
                                                    span(class="proloop-label--on-sale") -#{product.discountPercentage}%
                    .section-view-all
                        a(href="/products/laptop-gaming" ) Xem tất cả 
                //- .col-3.content-right
                //-     .d-flex.flex-column.align-items-end
                //-         .column-category 
                //-             h4.title-category Catagoryes
                //-             .list-category 
                //-                 each item in listProductCategory
                //-                     .item 
                //-                         .info-item #{item.title} (#{item.totalCount})
                //-         .column-newsletter